* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}

:root{
  --primary: #164863;
  --secondary: #427D9D;
  --tertiary: #DDF2FD;
  --primary-passive: #427D9D;
  --primary-alt: #365486;
  --text-box: #F1F1F1;
  --black: #000000;

  --font-xs: 0.5em;
  --font-ps: 0.75em;
  --font-sm: 1em;
  --font-md: 1.25em;
  --font-lg: 1.5em;
  --font-xl: 1.75em;
  --font-2xl: 2em;
  --font-3xl: 2.25em;
  --font-4xl: 2.5em;
  --font-5xl: 2.75em;
  --font-6xl: 3em;
  --font-7xl: 3.5em;
  --font-8xl: 4.25em;
  --font-9xl: 5em;
}

/* html {
  scroll-behavior: smooth;
} */

body {
  margin: 0;
  font-family: 'Poppins';
  background-color: var(--text-box);
}

/* p, h1, h2, h3, h4, h5, h6 {
  color: var(--black);
} */

/* ------Flex------ */

.flex-container {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.centered {
  justify-content: center;
  align-items: center;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.flex-row {
  flex-direction: row;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-start {
  align-items: flex-start;
}

.flex-wrap {
  flex-wrap: wrap;
}

/* -----Header----- */

.navbar {
  position: sticky;
  z-index: 1;
  width: 100%;
  background-color: #FFFFFF;
}

.header {
  padding: 3vh 5vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header .header-link {
  text-decoration: none;
  color: var(--black);
  font-size: var(--font-xl);
  font-weight: 600;
  margin-left: 3vw;
}

.header .header-link:hover {
  text-decoration: underline;
}

.header .account-logo {
  width: 3.5vw;
  height: 7vh;
}

/* ledger */

.container
{
    position: absolute;
    width: 100%;
    /* width: 151px; */
    height: 1000px;
    background: #fff;
    /* margin: 50px; */
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0,0,0,0,1);
}
.container .left_Side
{
    position: relative;
    background: #427d9d;
    width: 100%;
}

.left_side .title
{
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
    padding: 40px;
    text-align: center;
}

.container .right_side
{
  position: relative;
  background: #F5F5F5;
  width: 100%;
}

.right_side .title
{
  color: #000000;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  padding-top: 30px;
  padding-left: 20px;
  font-size: 30px;
}

.right_side .subtitle
{
  color: #000000;
  font-weight: 600;
  letter-spacing: 1px;
  padding-top: 3px;
  padding-left: 20px;
  font-size: 15px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 50px;
  justify-content: center;
  background-color: #427D9D;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
  background-color: #DDF2FD;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

#apr, #may, #jun, #jul {
  display: none;
}